.player-container{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.player-image img{
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    width: 200px;
}
.player-details{
    margin-left: 50px;
}
.player-details button{
    margin-top: 20px;
    cursor: pointer;
}
p{
    margin: 5px;
}